:root {
	--primary-color: hsl(172, 67%, 45%);
	--secondary-color: #fff;
	--tertiary-color: #00474B;
	--quaternary-color: #26C2AE;
	--fifth-color: #9EBBBD;
	--sixth-color: #5E7A7D;

	--font-size-small: 0.65rem;	/* 13px; */
	--font-size-medium: 0.8rem;	/* 16px; */
	--font-size-large: 1rem;		/* 20px; */
	--font-size-xl: 1.2rem;			/* 24px; */
	--font-size-xxl: 2.4rem;		/* 48px; */
}